{% extends "base.html" %}

{% block content %}
<h1>Income Statement</h1>
{% if error %}
    <p>{{ error }}</p>
{% else %}
    <p>As of {{ date }}</p>
    <table>
        <tr>
            <th>Sales</th>
        </tr>
        <tr>
            <td>Sales</td>
            <td style="padding-left: 20px;">${{ statement.sales|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Cost of Goods Sold</td>
            <td style="padding-left: 20px;">${{ statement.costOfGoodsSold|floatformat:2 }}</td>
        </tr>
        
        <tr style="border-top: 1px solid black;">
            <td><strong>Gross Profit</strong></td>
            <td style="padding-left: 20px;"><strong>${{ statement.grossProfit|floatformat:2 }}</strong></td>
        </tr>
        <tr><td colspan="2"><br></td></tr>
        <tr>
            <td>Payroll</td>
            <td style="padding-left: 20px;">${{ statement.operatingExpenses.payroll|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Payroll Withholding</td>
            <td style="padding-left: 20px;">${{ statement.operatingExpenses.payrollWitholding|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Rent</td>
            <td style="padding-left: 20px;">${{ statement.operatingExpenses.rent|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Bills</td>
            <td style="padding-left: 20px;">${{ statement.operatingExpenses.bills|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Miscellaneous</td>
            <td style="padding-left: 20px;">${{ statement.operatingExpenses.miscellaneous|floatformat:2 }}</td>
        </tr>
        <tr>
            <td><strong>Total Expenses</strong></td>
            <td style="padding-left: 20px;"><strong>${{ statement.totalExpenses|floatformat:2 }}</strong></td>
        </tr>
        <tr><td colspan="2"><br></td></tr>
        <tr>
            <td>Other Income</td>
            <td style="padding-left: 20px;">${{ statement.otherIncome|floatformat:2 }}</td>
        </tr>
        <tr>
            <td><strong>Operating Income</strong></td>
            <td style="padding-left: 20px;"><strong>${{ statement.operatingIncome|floatformat:2 }}</strong></td>
        </tr>
        <tr><td colspan="2"><br></td></tr>
        <tr>
            <td>Income Taxes</td>
            <td style="padding-left: 20px;">${{ statement.incomeTaxes|floatformat:2 }}</td>
        </tr>
        <tr>
            <td><strong>Net Income</strong></td>
            <td style="padding-left: 20px;"><strong>${{ statement.netIncome|floatformat:2 }}</strong></td>
        </tr>
        <tr><td colspan="2"><br></td></tr>
    </table>
{% endif %}
{% endblock %}