{% extends "master.html" %}
{% block title %}Customers{% endblock %}


{% block content %}
<table>
    <thead>
        <tr>
            <th>Company Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customer_list %}
        <tr>
            <td>{{ customer.company_name }}</td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.address1 }}</td>
            <td>{{ customer.address2 }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.zip }}</td>
            <td>{{ customer.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}